/*   Fonts   */
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-semibold';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*   Reset   */
* {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1, h2 {
  font-family: 'sans-serif', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase; }

h3, h4 {
  font-family: 'sans-serif', sans-serif;
  font-size: 0.7em; }

p {
  font-family: 'open-sans', sans-serif;
  font-size: 0.9em; }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  z-index: 3; }

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .hero .container {
    padding: 2em; }
    .hero .container header {
      position: absolute;
      top: 0;
      background-color: transparent;
      height: 5em;
      z-index: 5;
      width: 100vw;
      transition: all ease 0.3s; }
      .hero .container header .logo {
        position: fixed;
        left: 2em;
        top: 1.5em;
        z-index: 3; }
        .hero .container header .logo h1 {
          font-family: 'raleway-bold',sans-serif;
          text-transform: none;
          font-size: 2em;
          color: #f7f8f9; }
      .hero .container header .hamburger {
        position: fixed;
        right: 2em;
        top: 2em;
        z-index: 3; }
      .hero .container header .hamburger button {
        display: block;
        background: none;
        border: none;
        outline: 0;
        z-index: 5; }
      .hero .container header .hamburger-icon {
        cursor: pointer; }
      .hero .container header .hamburger-layer {
        display: block;
        width: 50px;
        height: 5px;
        background: #f7f8f9;
        position: relative;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out; }
        .hero .container header .hamburger-layer:before, .hero .container header .hamburger-layer:after {
          content: "";
          background: inherit;
          display: block;
          width: inherit;
          height: inherit;
          position: absolute;
          left: 0;
          -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
        .hero .container header .hamburger-layer:before {
          top: 200%; }
        .hero .container header .hamburger-layer:after {
          top: 400%; }
      .hero .container header .hamburger-to-cross {
        -webkit-animation-name: hamburger-icon-cross;
        animation-name: hamburger-icon-cross;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
        .hero .container header .hamburger-to-cross:before {
          -webkit-animation-name: hamburger-icon-cross-before;
          animation-name: hamburger-icon-cross-before;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
        .hero .container header .hamburger-to-cross:after {
          -webkit-animation-name: hamburger-icon-cross-after;
          animation-name: hamburger-icon-cross-after;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
      .hero .container header .hamburger-from-cross {
        -webkit-animation-name: hamburger-icon-from-cross;
        animation-name: hamburger-icon-from-cross; }
        .hero .container header .hamburger-from-cross:before {
          -webkit-animation-name: hamburger-icon-from-cross-before;
          animation-name: hamburger-icon-from-cross-before; }
        .hero .container header .hamburger-from-cross:after {
          -webkit-animation-name: hamburger-icon-from-cross-after;
          animation-name: hamburger-icon-from-cross-after; }

@-webkit-keyframes hamburger-icon-cross {
  0% { }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 20% 0; } }

@keyframes hamburger-icon-cross {
  0% { }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 20% 0; } }

@-webkit-keyframes hamburger-icon-cross-before {
  0% { }
  20%, 100% {
    opacity: 0;
    top: 0; } }

@keyframes hamburger-icon-cross-before {
  0% { }
  20%, 100% {
    opacity: 0;
    top: 0; } }

@-webkit-keyframes hamburger-icon-cross-after {
  0% { }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: -40% 0; } }

@keyframes hamburger-icon-cross-after {
  0% { }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: -40% 0; } }

@-webkit-keyframes hamburger-icon-from-cross {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 20% 0; }
  100% { } }

@keyframes hamburger-icon-from-cross {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 20% 0; }
  100% { } }

@-webkit-keyframes hamburger-icon-from-cross-before {
  0% {
    opacity: 0;
    top: 0; }
  100% { } }

@keyframes hamburger-icon-from-cross-before {
  0% {
    opacity: 0;
    top: 0; }
  100% { } }

@-webkit-keyframes hamburger-icon-from-cross-after {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: -40% 0; }
  100% { } }

@keyframes hamburger-icon-from-cross-after {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: -40% 0; }
  100% { } }
    .hero .container .header-scrolled {
      height: 3em;
      background-color: #da993a; }
    .hero .container .dropdown {
      position: fixed;
      top: 0;
      left: 0%;
      display: none;
      opacity: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(22, 160, 133, 0.9);
      transition: all ease 0.5s;
      z-index: 2; }
      .hero .container .dropdown #navmenu {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .hero .container .dropdown #navmenu li {
          padding: 0.5em 0;
          margin: 1em 0;
          text-align: center; }
          .hero .container .dropdown #navmenu li:after {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            width: 0;
            background: transparent;
            transition: width .5s ease, background-color .5s ease; }
          .hero .container .dropdown #navmenu li:hover:after {
            width: 100%;
            background-color: #f7f8f9; }
          .hero .container .dropdown #navmenu li a {
            padding: 0.5em 0;
            font-family: 'raleway-regular', sans-serif;
            text-decoration: none;
            color: #f7f8f9;
            font-size: 1.5em; }
            .hero .container .dropdown #navmenu li a:visited, .hero .container .dropdown #navmenu li a:active {
              text-decoration: none; }
      .hero .container .dropdown.showNav {
        display: block !important;
        opacity: 1 !important;
        -webkit-animation: fadeInRight 0.5s ease !important;
        animation: fadeInRight 0.5s ease !important; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
    .hero .container .headingtext {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      width: 90vw; }
      .hero .container .headingtext h1 {
        font-family: 'raleway-bold',sans-serif;
        text-transform: none;
        font-size: 3em;
        color: #444;
        text-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5); }
      .hero .container .headingtext h2 {
        font-family: 'raleway-regular',sans-serif;
        text-transform: none;
        font-size: 1.5em;
        color: #555;
        text-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5); }

.description {
  background-color: #f7f8f9;
  position: relative;
  height: 70vh;
  width: 100vw; }
  .description .container {
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .description .container .innertext {
      text-align: center; }
      .description .container .innertext h3 {
        color: #444;
        font-size: 2em;
        font-weight: 700; }

footer {
  height: 40vh;
  background-color: #222;
  position: relative; }
  footer #footerText {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100vw;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2em;
    color: #DDD;
    text-transform: none;
    font-weight: lighter;
    font-family: 'raleway-bold',sans-serif; }
  footer .social {
    position: absolute;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    footer .social li {
      display: inline-block;
      width: 2.5em;
      padding: 0 0.5em;
      box-sizing: border-box; }
      footer .social li i {
        font-size: 2em;
        color: #CCC;
        transition: all 0.3s ease; }
    footer .social li:nth-child(1) > i:hover {
      color: #3765A3; }
    footer .social li:nth-child(2) > i:hover {
      color: #55ACEE; }
    footer .social li:nth-child(3) > i:hover {
      color: #DC483C; }
    footer .social li:nth-child(1) > i:active {
      color: #3765A3; }
    footer .social li:nth-child(2) > i:active {
      color: #55ACEE; }
    footer .social li:nth-child(3) > i:active {
      color: #DC483C; }
  footer .copyright {
    position: absolute;
    bottom: 1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #AAA;
    font-size: 0.7em;
    font-family: 'lato', sans-serif; }

#loginpage {
  background-image: url("../images/backgrounds/diagnal-fabric.png");
  background-repeat: repeat; }
  #loginpage .inputbox {
    width: 15em;
    height: auto;
    margin: auto;
    margin-top: 10%; }
    #loginpage .inputbox input {
      border: none;
      background: #f7f8f9;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      display: block;
      height: 2.5em;
      outline: none;
      width: 15em !important;
      margin: auto;
      padding: 0.5em 1em 0.5em 1em; }
    #loginpage .inputbox input[type="text"] {
      border-radius: 7px 7px 0px 0px;
      border-bottom: 1px solid #DDD; }
    #loginpage .inputbox input[type="password"] {
      border-radius: 0px 0px 7px 7px; }
    #loginpage .inputbox .forgot_link {
      color: #25A55F;
      text-decoration: none;
      font-size: 11px;
      margin: 2em; }
    #loginpage .inputbox input[type="submit"] {
      color: #EEE;
      border-radius: 7px 7px 7px 7px;
      width: 17em !important;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #loginpage .inputbox input[type="submit"]:hover {
      color: #222;
      background-color: #3EC1D3;
      transition: all ease 0.3s; }
    #loginpage .inputbox input[type="submit"]:active {
      color: #222;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #loginpage .inputbox a {
      color: #3EC1D3;
      transition: all ease 0.3s; }
    #loginpage .inputbox a:active {
      color: #2aaabb; }
    #loginpage .inputbox a:hover {
      color: #2aaabb; }
    #loginpage .inputbox a:visted {
      color: #3EC1D3; }

#registerpage {
  background-image: url("../images/backgrounds/diagnal-fabric.png");
  background-repeat: repeat; }
  #registerpage .inputbox {
    width: 15em;
    height: auto;
    margin: auto;
    margin-top: 10%; }
    #registerpage .inputbox input {
      border: none;
      background: #f7f8f9;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      display: block;
      height: 2.5em;
      outline: none;
      width: 15em !important;
      margin: auto;
      padding: 6px 12px 6px 12px; }
    #registerpage .inputbox input:nth-child(2) {
      border-radius: 7px 7px 0px 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(3) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(4) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(5) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(6) {
      border-radius: 0px 0px 7px 7px; }
    #registerpage .inputbox .forgot_link {
      color: #25A55F;
      text-decoration: none;
      font-size: 11px;
      margin: 2em; }
    #registerpage .inputbox input[type="submit"] {
      color: #EEE;
      border-radius: 7px 7px 7px 7px;
      width: 17em !important;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #registerpage .inputbox input[type="submit"]:hover {
      color: #222;
      background-color: #3EC1D3;
      transition: all ease 0.3s; }
    #registerpage .inputbox input[type="submit"]:active {
      color: #222;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #registerpage .inputbox a {
      color: #3EC1D3;
      transition: all ease 0.3s; }
    #registerpage .inputbox a:active {
      color: #2aaabb; }
    #registerpage .inputbox a:hover {
      color: #2aaabb; }
    #registerpage .inputbox a:visted {
      color: #3EC1D3; }

#dashboard {
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #dashboard .container {
    position: absolute;
    top: 0; }
    #dashboard .container .sidebar {
      height: auto;
      width: calc(100vw - 50px);
      text-align: left;
      z-index: 1;
      background: #f7f8f9;
      background-image: url("../images/backgrounds/pattern.png");
      background-repeat: repeat;
      transition: all ease-out 0.2s;
      color: #4d4d4d; }
      #dashboard .container .sidebar .banner {
        position: relative;
        height: 20vh;
        width: 100%;
        background-image: url("../images/banner.png");
        background-repeat: none;
        background-size: cover;
        background-color: #04a0dd; }
        #dashboard .container .sidebar .banner img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          height: 12vh;
          width: 12vh;
          border-radius: 50%;
          border: 3px solid #eee;
          box-shadow: 1px rgba(0, 0, 0, 0.5); }
      #dashboard .container .sidebar .details ul li {
        position: relative;
        background-color: #f7f8f9;
        border-bottom: 1px solid #DDD;
        padding: 2em;
        vertical-align: middle;
        transition: all 0.2s ease; }
        #dashboard .container .sidebar .details ul li h2 {
          transition: all ease 0.5s;
          padding-bot: 0.5em;
          color: #03C1EB;
          padding-bottom: 0.5em; }
        #dashboard .container .sidebar .details ul li p {
          font-family: 'open-sans',sans-serif;
          font-size: 0.8em; }
        #dashboard .container .sidebar .details ul li i {
          color: #777;
          transition: all ease 0.3s;
          position: absolute;
          right: 2em;
          top: 50%; }
        #dashboard .container .sidebar .details ul li i:hover {
          color: #04a0dd; }
      #dashboard .container .sidebar .details ul li:hover {
        background-color: #e1f5ff; }
    #dashboard .container .maincontent {
      padding-top: 1.5em; }
      #dashboard .container .maincontent h1 {
        display: none;
        font-size: 2em;
        font-family: 'lato',sans-serif;
        font-weight: 700;
        color: #2aaabb;
        text-transform: capitalize;
        padding: 0 1em 1em 1em; }
      #dashboard .container .maincontent h3 {
        display: inline-block;
        font-size: 1em;
        font-weight: 700;
        color: #555;
        padding: 1em 1em 1em 2em;
        margin-bottom: 1em; }
      #dashboard .container .maincontent .column {
        width: 90vw; }
      #dashboard .container .maincontent span {
        padding-left: 2.5em;
        font-family: 'open-sans',sans-serif;
        font-size: 0.8em; }
      #dashboard .container .maincontent .myboardslinks {
        padding-bottom: 1em;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      #dashboard .container .maincontent .followingboardslinks {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      #dashboard .container .maincontent .boardslink {
        width: 15em;
        padding: 0 0 2em 2em; }
        #dashboard .container .maincontent .boardslink .boardoverlay {
          position: absolute;
          opacity: 0;
          background: rgba(255, 255, 255, 0.4);
          width: 13em;
          height: 7em;
          border-radius: 5px;
          transition: all ease 0.2s; }
          #dashboard .container .maincontent .boardslink .boardoverlay i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #555;
            font-size: 2em;
            cursor: pointer;
            transition: all ease 0.3s; }
          #dashboard .container .maincontent .boardslink .boardoverlay i:hover {
            color: #222; }
        #dashboard .container .maincontent .boardslink .boardoverlay:hover {
          opacity: 1; }
        #dashboard .container .maincontent .boardslink img {
          width: 13em;
          height: 7em; }
        #dashboard .container .maincontent .boardslink p {
          display: none; }
        #dashboard .container .maincontent .boardslink a {
          font-family: 'sans-serif', sans-serif;
          font-size: 0.8em;
          font-weight: bold;
          cursor: pointer;
          color: #444;
          transition: all ease 0.3s; }
        #dashboard .container .maincontent .boardslink a:visited {
          text-decoration: none;
          color: #444; }
        #dashboard .container .maincontent .boardslink a:hover {
          color: #000; }
        #dashboard .container .maincontent .boardslink p {
          padding: 1em 0; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #BBB; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #AAA; }

.sidenav {
  height: 100vh;
  width: 50px;
  position: relative;
  background-color: #EFEFEF;
  z-index: 3; }
  .sidenav .navicons {
    height: 100%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sidenav .navicons .icons {
      text-align: center;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 3; }
      .sidenav .navicons .icons i {
        padding: 1em 0;
        width: 100%;
        font-size: 1.5em;
        color: #BBB;
        cursor: pointer;
        transition: all ease 0.2s; }
      .sidenav .navicons .icons i:nth-child(1):hover {
        color: #04a0dd; }
      .sidenav .navicons .icons i:nth-child(2):hover {
        color: #EB586F; }
      .sidenav .navicons .icons i:nth-child(3):hover {
        color: #F2910A; }
      .sidenav .navicons .icons i:nth-child(4):hover {
        color: #B61AAE; }
      .sidenav .navicons .icons i:nth-child(5):hover {
        color: #00B8A9; }
      .sidenav .navicons .icons i.active-btn:nth-child(1) {
        color: #04a0dd !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(2) {
        color: #EB586F !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(3) {
        color: #F2910A !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(4) {
        color: #B61AAE !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(5) {
        color: #00B8A9 !important; }
    .sidenav .navicons #top {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      z-index: 3; }
    .sidenav .navicons #bottom {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      z-index: 2; }

/* End of sidenav*/
.slideout {
  position: fixed;
  top: 0;
  left: -20em;
  height: 100vh;
  width: 80vw;
  text-align: left;
  z-index: 1;
  background: #f7f8f9;
  background-image: url("../images/backgrounds/pattern.png");
  background-repeat: repeat;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all ease-out 0.2s;
  opacity: 0;
  color: #4d4d4d; }
  .slideout ul {
    height: 100vh;
    overflow-y: auto; }
    .slideout ul li {
      background-color: #f7f8f9;
      border-bottom: 1px solid #DDD;
      padding: 2em;
      vertical-align: middle; }
      .slideout ul li h2 {
        transition: all ease 0.5s;
        padding-bot: 0.5em; }
      .slideout ul li h2:hover {
        color: #2574a9; }
      .slideout ul li p {
        font-family: 'open-sans',sans-serif;
        font-size: 0.8em; }

/* End Slideout Universal style*/
#myboards ul .subtitle {
  padding: 3em 3em 0;
  color: #c93047;
  background-color: #f7f8f9; }

#myboards ul li h2 {
  color: #EB586F;
  padding: 0.5em 0; }

#myboards ul li a {
  transition: all ease 0.3s;
  color: #cc4b5e;
  font-size: 1em;
  font-family: 'raleway-regular', sans-serif; }

#myboards ul li a:visited {
  color: #cc4b5e; }

#myboards ul li a:hover {
  color: #EB586F; }

#myboards ul li p {
  padding-bottom: 1em; }

#info ul li {
  padding: 2em;
  background-color: #f7f8f9;
  border-bottom: 1px solid #DDD; }
  #info ul li .boarders {
    margin: 0.5em;
    display: block;
    float: left;
    height: 100%;
    text-align: center; }
    #info ul li .boarders img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding-bot: 1em; }
    #info ul li .boarders p {
      font-family: 'lato', sans-serif;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: bold; }
  #info ul li h2 {
    padding-bottom: 1em;
    color: #F2910A; }

#settings #accordion li {
  padding-right: 2em; }
  #settings #accordion li h2 {
    color: #00B8A9; }
  #settings #accordion li .bgoptions {
    float: left; }
    #settings #accordion li .bgoptions img {
      border: 3px solid #f7f8f9;
      height: 5em;
      width: 5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.2s; }
    #settings #accordion li .bgoptions img.bgcurrent {
      border: 3px solid #00B8A9; }
    #settings #accordion li .bgoptions #dropzonebox {
      border: 3px dashed #00B8A9;
      height: 5em;
      width: 5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.2s; }
      #settings #accordion li .bgoptions #dropzonebox i {
        padding: 0.35em 0.45em;
        color: #00B8A9;
        font-size: 3em; }

#profile .banner {
  position: relative;
  height: 20vh;
  width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: none;
  background-size: cover;
  background-color: #04a0dd; }
  #profile .banner .avatar-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid #eee;
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    transition: all 0.3s ease;
    z-index: 3; }
    #profile .banner .avatar-upload img {
      border-radius: 50%;
      height: 12vh;
      width: 12vh; }

#profile h2 {
  color: #03C1EB;
  padding-bottom: 0.5em; }

#profile li {
  position: relative;
  transition: all 0.3s ease; }
  #profile li i {
    color: #777;
    transition: all ease 0.3s;
    position: absolute;
    right: 2em;
    top: 50%; }
  #profile li i:hover {
    color: #04a0dd; }

#profile li:hover {
  background-color: #e1f5ff; }

/*modal styling*/
.modal {
  width: 12em;
  max-width: 20em;
  text-transform: uppercase;
  position: fixed;
  background-color: #f7f8f9;
  top: -15em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  padding: 1em 1.5em;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
  opacity: 0; }
  .modal h2 {
    color: #B61AAE;
    margin-bottom: 1em; }
  .modal input {
    border: none;
    background: #f7f8f9;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    height: 2.5em;
    outline: 0;
    width: 15em;
    max-width: 15em;
    margin: auto;
    padding: 0.5em 0;
    overflow: hidden;
    margin-bottom: 1em; }
  .modal input[type='text'] {
    width: 15em !important;
    max-width: 15em; }
  .modal textarea {
    border: none;
    background: #f7f8f9;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 15em;
    max-width: 15em;
    padding: 0.5em 0;
    display: inline;
    margin-bottom: 1em;
    height: 2.5em !important; }
  .modal input[type='submit'] {
    color: #EEE;
    border-radius: 7px 7px 7px 7px;
    background-color: #B61AAE;
    transition: all ease 0.3s; }

.fadeIn {
  top: 0;
  opacity: 1 !important; }

.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw; }
  .main .container {
    padding-left: 50px; }

.front {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .front div {
    width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: block; }

#dashboard {
  z-index: 0; }

#board {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: absolute;
  top: 0;
  height: 100vh; }
  #board .container {
    padding-top: 0;
    border-right: 1px solid #DDD; }
    #board .container #help {
      position: fixed;
      right: 0.5em;
      bottom: 0.5em; }
      #board .container #help i {
        z-index: 5;
        font-size: 3em;
        height: 50px;
        width: 50px;
        color: #1C9970; }
    #board .container .draggables {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #board .container .draggables .note {
        z-index: 3;
        width: 20vh;
        height: auto;
        background-color: #F8D098;
        border-radius: 5px;
        box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
        margin: 0.5em;
        padding: 1em; }
        #board .container .draggables .note p {
          font-size: 0.8em;
          font-weight: 700;
          font-family: 'lato', sans-serif;
          color: #333;
          margin-top: 1em;
          display: none;
          opacity: 0;
          transition: all 0.3s ease; }
  #board #trash {
    opacity: 0;
    transition: all ease 0.2s; }
    #board #trash .container {
      position: fixed;
      bottom: 2em;
      right: 2em;
      height: 3em;
      border-radius: 50%;
      border: 1px solid #D64541;
      background-color: #D64541;
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
      transition: all ease 0.2s; }
      #board #trash .container i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #EEE;
        font-size: 1.5em; }

.open {
  left: 50px;
  opacity: 1; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.bar {
  border-bottom: 1px solid #DDD;
  margin-bottom: 1.5em;
  width: 75vw; }

.hover {
  opacity: 1 !important; }

.droppableActive {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*for phablet - inclusive*/
@media only screen and (min-width: 26em) {
  .slideout {
    width: 45vw; }
  #modalbox {
    width: 20em !important;
    height: 12em !important; }
  .innertext h3 {
    font-size: 3em !important; } }

/*for tablet - inclusive*/
@media only screen and (min-width: 45em) {
  .slideout {
    width: 35vw; }
  .headingtext {
    width: 70vw !important; }
    .headingtext h1 {
      font-size: 5em !important; }
    .headingtext h2 {
      font-size: 2em !important; }
  #dashboard .container .sidebar {
    position: fixed;
    height: 100vh;
    width: 26vw !important; }
    #dashboard .container .sidebar .details ul {
      height: 100%; }
  #dashboard .container .maincontent {
    position: absolute;
    left: calc(50px + 26vw);
    width: 100vw; }
    #dashboard .container .maincontent h1 {
      display: block; }
    #dashboard .container .maincontent .column {
      width: calc(75vw - 50px);
      text-align: left;
      height: 100vh; }
      #dashboard .container .maincontent .column .myboardslinks {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      #dashboard .container .maincontent .column .followingboardslinks {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      #dashboard .container .maincontent .column .boardslink {
        width: 12em; }
        #dashboard .container .maincontent .column .boardslink .boardoverlay {
          width: 12em !important;
          height: 8em !important; }
        #dashboard .container .maincontent .column .boardslink img {
          border-radius: 5px;
          display: block;
          width: 12em;
          height: 8em;
          margin-bottom: 0.5em; }
        #dashboard .container .maincontent .column .boardslink p {
          display: block; }
  #modalbox {
    width: 20em !important;
    height: 12em !important; }
  .innertext h3 {
    font-size: 3em !important; }
  #board .draggables .note p {
    display: block !important;
    opacity: 1 !important; }
  #footerText {
    font-size: 2.5em !important; }
  .social li {
    padding: 0 1em !important;
    width: 4em !important; }
    .social li i {
      font-size: 2.5em !important; }
  .copyright {
    font-size: 0.7em !important; } }

/*for destop - inclusive*/
@media only screen and (min-width: 65em) {
  .slideout {
    width: 20vw; }
  #dashboard .container .sidebar {
    width: 20vw !important; }
    #dashboard .container .sidebar .details ul {
      height: 100%; }
  #dashboard .container .maincontent {
    position: absolute;
    left: calc(50px + 21vw);
    width: 60vw; }
  #modalbox {
    width: 20em !important;
    height: 12em !important; }
  .innertext h3 {
    font-size: 3em !important; }
  #board .draggables .note {
    width: 20vh;
    height: auto; } }

/*# sourceMappingURL=main.css.map */
