/*   Fonts   */
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-semibold';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*   Reset   */
* {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1, h2 {
  font-family: 'sans-serif', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase; }

h3, h4 {
  font-family: 'sans-serif', sans-serif;
  font-size: 0.7em; }

p {
  font-family: 'open-sans', sans-serif;
  font-size: 0.9em; }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  z-index: 3; }

#loginpage {
  background-image: url("../images/backgrounds/diagnal-fabric.png");
  background-repeat: repeat; }
  #loginpage .inputbox {
    width: 15em;
    height: auto;
    margin: auto;
    margin-top: 10%; }
    #loginpage .inputbox input {
      border: none;
      background: #f7f8f9;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      display: block;
      height: 2.5em;
      outline: none;
      width: 15em;
      margin: auto;
      padding: 0.5em 1em 0.5em 1em; }
    #loginpage .inputbox input[type="text"] {
      border-radius: 7px 7px 0px 0px;
      border-bottom: 1px solid #DDD; }
    #loginpage .inputbox input[type="password"] {
      border-radius: 0px 0px 7px 7px; }
    #loginpage .inputbox .forgot_link {
      color: #25A55F;
      text-decoration: none;
      font-size: 11px;
      margin: 2em; }
    #loginpage .inputbox input[type="submit"] {
      color: #EEE;
      border-radius: 7px 7px 7px 7px;
      width: 17em;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #loginpage .inputbox input[type="submit"]:hover {
      color: #222;
      background-color: #3EC1D3;
      transition: all ease 0.3s; }
    #loginpage .inputbox input[type="submit"]:active {
      color: #222;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #loginpage .inputbox a {
      color: #3EC1D3;
      transition: all ease 0.3s; }
    #loginpage .inputbox a:active {
      color: #2aaabb; }
    #loginpage .inputbox a:hover {
      color: #2aaabb; }
    #loginpage .inputbox a:visted {
      color: #3EC1D3; }

#registerpage {
  background-image: url("../images/backgrounds/diagnal-fabric.png");
  background-repeat: repeat; }
  #registerpage .inputbox {
    width: 15em;
    height: auto;
    margin: auto;
    margin-top: 10%; }
    #registerpage .inputbox input {
      border: none;
      background: #f7f8f9;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      display: block;
      height: 2.5em;
      outline: none;
      width: 15em;
      margin: auto;
      padding: 6px 12px 6px 12px; }
    #registerpage .inputbox input:nth-child(2) {
      border-radius: 7px 7px 0px 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(3) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(4) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(5) {
      border-radius: 0px;
      border-bottom: 1px solid #DDD; }
    #registerpage .inputbox input:nth-child(6) {
      border-radius: 0px 0px 7px 7px; }
    #registerpage .inputbox .forgot_link {
      color: #25A55F;
      text-decoration: none;
      font-size: 11px;
      margin: 2em; }
    #registerpage .inputbox input[type="submit"] {
      color: #EEE;
      border-radius: 7px 7px 7px 7px;
      width: 17em;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #registerpage .inputbox input[type="submit"]:hover {
      color: #222;
      background-color: #3EC1D3;
      transition: all ease 0.3s; }
    #registerpage .inputbox input[type="submit"]:active {
      color: #222;
      background-color: #2aaabb;
      transition: all ease 0.3s; }
    #registerpage .inputbox a {
      color: #3EC1D3;
      transition: all ease 0.3s; }
    #registerpage .inputbox a:active {
      color: #2aaabb; }
    #registerpage .inputbox a:hover {
      color: #2aaabb; }
    #registerpage .inputbox a:visted {
      color: #3EC1D3; }

.container {
  padding: 2em; }

.boardslink {
  width: 20em; }
  .boardslink a {
    font-family: 'sans-serif', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: #444;
    transition: all ease 0.3s; }
  .boardslink a:visited {
    text-decoration: none;
    color: #444; }
  .boardslink a:hover {
    color: #000; }
  .boardslink p {
    padding: 1em 0; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #BBB; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #AAA; }

.sidenav {
  height: 100vh;
  width: 50px;
  position: relative;
  background-color: #EFEFEF;
  z-index: 3; }
  .sidenav .navicons {
    height: 100%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sidenav .navicons .icons {
      text-align: center;
      height: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 3; }
      .sidenav .navicons .icons i {
        padding: 1em 0;
        width: 100%;
        font-size: 1.5em;
        color: #CCC;
        cursor: pointer;
        transition: all ease 0.2s; }
      .sidenav .navicons .icons i:nth-child(1):hover {
        color: #04a0dd; }
      .sidenav .navicons .icons i:nth-child(2):hover {
        color: #EB586F; }
      .sidenav .navicons .icons i:nth-child(3):hover {
        color: #F2910A; }
      .sidenav .navicons .icons i:nth-child(4):hover {
        color: #B61AAE; }
      .sidenav .navicons .icons i:nth-child(5):hover {
        color: #00B8A9; }
      .sidenav .navicons .icons i.active-btn:nth-child(1) {
        color: #04a0dd !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(2) {
        color: #EB586F !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(3) {
        color: #F2910A !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(4) {
        color: #B61AAE !important; }
      .sidenav .navicons .icons i.active-btn:nth-child(5) {
        color: #00B8A9 !important; }
    .sidenav .navicons #top {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      z-index: 3; }
    .sidenav .navicons #bottom {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      z-index: 2; }

/* End of sidenav*/
.slideout {
  position: fixed;
  top: 0;
  left: -17em;
  height: 100vh;
  width: 80vw;
  text-align: left;
  z-index: 1;
  background: #f7f8f9;
  background-image: url("../images/backgrounds/pattern.png");
  background-repeat: repeat;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all ease-out 0.2s;
  opacity: 0;
  color: #4d4d4d; }
  .slideout ul {
    height: 100vh;
    overflow-y: auto; }
    .slideout ul li {
      background-color: #f7f8f9;
      border-bottom: 1px solid #DDD;
      padding: 2em;
      vertical-align: middle; }
      .slideout ul li h2 {
        transition: all ease 0.5s;
        padding-bot: 0.5em; }
      .slideout ul li h2:hover {
        color: #2574a9; }
      .slideout ul li p {
        font-family: 'open-sans',sans-serif;
        font-size: 0.8em; }

/* End Slideout Universal style*/
/* My boards slideout style */
#myboards ul .subtitle {
  padding: 3em 3em 0;
  color: #c93047;
  background-color: #f7f8f9; }

#myboards ul li h2 {
  color: #EB586F;
  padding: 0.5em 0; }

#myboards ul li a {
  transition: all ease 0.3s;
  color: #cc4b5e;
  font-size: 1em;
  font-family: 'raleway-regular', sans-serif; }

#myboards ul li a:visited {
  color: #cc4b5e; }

#myboards ul li a:hover {
  color: #EB586F; }

#myboards ul li p {
  padding-bottom: 1em; }

/* Info slideout style */
#info ul li {
  padding: 2em;
  background-color: #f7f8f9;
  border-bottom: 1px solid #DDD; }
  #info ul li .boarders {
    margin: 0.5em;
    display: block;
    float: left;
    height: 100%;
    text-align: center; }
    #info ul li .boarders img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      padding-bot: 1em; }
    #info ul li .boarders p {
      font-family: 'lato', sans-serif;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: bold; }
  #info ul li h2 {
    padding-bottom: 1em;
    color: #F2910A; }

#settings #accordion li {
  padding-right: 0; }
  #settings #accordion li h2 {
    color: #00B8A9; }
  #settings #accordion li .bgoptions {
    float: left; }
    #settings #accordion li .bgoptions img {
      border: 3px solid #f7f8f9;
      height: 5em;
      width: 5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.2s; }
    #settings #accordion li .bgoptions img.bgcurrent {
      border: 3px solid #00B8A9; }

/* profile slideout style */
#profile .banner {
  position: relative;
  height: 20vh;
  width: 100%;
  background-image: url("../images/banner.png");
  background-repeat: none;
  background-size: cover;
  background-color: #04a0dd; }
  #profile .banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    border: 3px solid #eee;
    box-shadow: 1px rgba(0, 0, 0, 0.5); }

#profile h2 {
  color: #03C1EB;
  padding-bottom: 0.5em; }

#profile li {
  position: relative; }
  #profile li i {
    color: #777;
    transition: all ease 0.3s;
    position: absolute;
    right: 2em;
    top: 50%; }
  #profile li i:hover {
    color: #04a0dd; }

/* Dashboard Logo*/
.logobox p {
  color: #111;
  font-size: 5em; }

.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw; }
  .main .container {
    padding-left: 50px; }

.front {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .front div {
    width: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: block; }

#dashboard {
  z-index: 0; }

#board {
  background-image: url("../images/backgrounds/diagnal-fabric.png");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  height: 100vh; }
  #board .container {
    padding-top: 0; }
    #board .container #help {
      position: fixed;
      right: 0.5em;
      bottom: 0.5em; }
      #board .container #help i {
        z-index: 5;
        font-size: 3em;
        height: 50px;
        width: 50px;
        color: #1C9970; }
    #board .container .draggables {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #board .container .draggables .note {
        z-index: 3;
        width: 20vh;
        min-height: 20vh;
        background-color: #F8D098;
        border-radius: 5px;
        box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
        margin: 0.5em;
        padding: 1em; }

.open {
  left: 50px;
  opacity: 1; }

.hidden {
  display: none; }

.clear {
  clear: both; }

/*for phablet - inclusive*/
@media only screen and (min-width: 26em) {
  .slideout {
    width: 40vw; } }

/*for tablet - inclusive*/
@media only screen and (min-width: 45em) {
  .slideout {
    width: 35vw; } }

/*for destop - inclusive*/
@media only screen and (min-width: 65em) {
  .slideout {
    width: 20vw; }
  #board .draggables .note {
    width: 20vh;
    min-height: 20vh; } }

/*# sourceMappingURL=main.css.map */
