// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



 
/*   Fonts   */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*   Reset   */

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

//////////////* All device and Mobile Breakpoint *////////////////

h1, h2 {
    font-family: 'sans-serif', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    
}

h3, h4 {
    font-family: 'sans-serif', sans-serif;
    font-size: 0.7em;
}

p {
    font-family: 'open-sans', sans-serif;
    font-size: 0.9em;
}

body {

    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    z-index: 3;
}




///////////////////////////* Landing page *//////////////////////////////

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/hero.png');
    background-size: cover;
    background-position: top;
    position: relative;
    
    .container {
        
        padding: 2em;
        
        
        header {
            position: absolute;
            top: 0;
            background-color: rgba(0,0,0,0);
            height: 5em;
            z-index: 5;
            width: 100vw;
            transition: all ease 0.3s;
            
            .logo {
                position: fixed;
                left: 2em;
                top: 1.5em;
                z-index: 3;
                
                h1 {
                    font-family: 'raleway-bold',sans-serif;
                    text-transform: none;
                    font-size: 2em;
                    color: #f7f8f9;
                }

            }
            
            .hamburger {
                position: fixed;
                right: 2em;
                top: 2em;
                z-index: 3;
            }
            

            .hamburger button {
                display: block;
                background: none;
                border: none;
                outline: 0;
                z-index: 5;
            }

            .hamburger-icon {
                cursor: pointer;
            }

            .hamburger-layer {
                display: block;
                width: 50px;
                height: 5px;
                background: #f7f8f9;
                position: relative;
                animation-duration: 300ms;
                animation-timing-function: ease-in-out;

                &:before,
                &:after {
                    content: "";
                    background: inherit;
                    display: block;
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    left: 0;
                    animation-duration: 300ms;
                    animation-timing-function: ease-in-out;
                }

                &:before {
                    top: 200%;
                }

                &:after {
                    top:400%;
                }
            }

            .hamburger-to-cross {
                animation-name: hamburger-icon-cross;
                animation-fill-mode: forwards;

                &:before {
                    animation-name: hamburger-icon-cross-before;
                    animation-fill-mode: forwards;
                }

                &:after {
                    animation-name: hamburger-icon-cross-after;
                    animation-fill-mode: forwards;
                }
            }

            .hamburger-from-cross {
                animation-name: hamburger-icon-from-cross;

                &:before {
                    animation-name: hamburger-icon-from-cross-before;
                }

                &:after {
                    animation-name: hamburger-icon-from-cross-after;
                }
            }



            @keyframes hamburger-icon-cross {
                0%  {}
                100% {
                    transform: rotate(45deg);
                    margin: 20% 0;
                }
            }

            @keyframes hamburger-icon-cross-before {
                0%  {}

                20%, 100% {
                    opacity: 0;
                    top: 0;
                }
            }

            @keyframes hamburger-icon-cross-after {
                0%  {}
                100% {
                    transform: rotate(-90deg);
                    margin: -40% 0;

                }
            }

            @keyframes hamburger-icon-from-cross {
                0%  {
                    transform: rotate(45deg);
                    margin: 20% 0;
                }
                100% {}
            }

            @keyframes hamburger-icon-from-cross-before {
                0%  {
                    opacity: 0;
                    top: 0;
                }

                100% {}
            }

            @keyframes hamburger-icon-from-cross-after {
                0%  {
                    transform: rotate(-90deg);
                    margin: -40% 0;
                }
                100% {}
            }
            
        }

        
        .header-scrolled {
            
            height: 3em;
            background-color: rgb(218, 153, 58);
        }
        
        .dropdown {
            position: fixed;
            top: 0;
            left: 0%;
            display: none;
            opacity: 0;
            
            width: 100vw;
            height: 100vh;
            
            background-color: rgba(22, 160, 133, 0.9);
            transition: all ease 0.5s;
            
            z-index: 2;
            
            
            #navmenu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                
                li {
                    padding: 0.5em 0;
                    margin: 1em 0;
                    text-align: center;
                    
                    
                    &:after {
                        content: '';
                        display: block;
                        margin: auto;
                        height: 1px;
                        width: 0;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }
                    
                    &:hover:after {
                        width: 100%;
                        background-color: #f7f8f9;
                    }
                    
                    a {
                        padding: 0.5em 0;
                        font-family: 'raleway-regular', sans-serif;
                        text-decoration: none;
                        color: #f7f8f9;
                        font-size: 1.5em;
                        
                        &:hover {
                            
                            
                        }
                        
                        &:visited, &:active {
                            text-decoration: none;
                            
                        }
                        
                    }
                    
                }
                
            }
            
            &.showNav {
                display: block !important;
                opacity: 1 !important;
                animation: fadeInRight 0.5s ease !important;

            }
            
            
            
        }

        @keyframes fadeInRight {
          0% {
            opacity: 0;
            left: 20%;
          }
          100% {
            opacity: 1;
            left: 0;
          }
        }

        
        
        .headingtext {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            width: 90vw;
            
            
            h1 {
                font-family: 'raleway-bold',sans-serif;
                text-transform: none;
                font-size: 3em;
                color: #444;
                text-shadow: 1px 1px 5px 1px rgba(255,255,255,0.5);
                
            }
            
            h2 {
                font-family: 'raleway-regular',sans-serif;
                text-transform: none;
                font-size: 1.5em; 
                color: #555;
                text-shadow: 1px 1px 5px 1px rgba(255,255,255,0.5);
            }
            
        }
        
    }
}






.description {
    
    background-color: #f7f8f9;
    position: relative;
    
    height: 70vh;
    width: 100vw;
    
    .container {
        padding: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        
        .innertext {
            text-align: center;
            
            h3 {
                color: #444;
                font-size: 2em;
                font-weight: 700;
            }
            
        }
        
    }
}




footer {
    height: 40vh;
    background-color: #222;
    position: relative;
    
    
    #footerText {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100vw;
        text-align: center;
        transform: translateX(-50%);
        font-size: 2em;
        color: #DDD;
        text-transform: none;
        font-weight: lighter;
        font-family: 'raleway-bold',sans-serif;
        
    }
    
    
    .social {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);

        li {
            display: inline-block;
            width: 2.5em;
            padding: 0 0.5em;
            box-sizing: border-box;

            i {
                font-size: 2em;
                color: #CCC;
                transition: all 0.3s ease;

            }
        }
        
        li:nth-child(1)>i:hover {
            color: #3765A3;
        }

        li:nth-child(2)>i:hover {
            color: #55ACEE;
        }

        li:nth-child(3)>i:hover {
            color: #DC483C;
        }

        li:nth-child(1)>i:active {
            color: #3765A3;
        }

        li:nth-child(2)>i:active {
            color: #55ACEE;
        }

        li:nth-child(3)>i:active {
            color: #DC483C;
        }

    }
    
    .copyright {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        color: #AAA;
        font-size: 0.7em;
        font-family: 'lato', sans-serif;
    }
}

            












/////////////////////////* Log in, Register *///////////////////////////



#loginpage {
    background-image: url('../images/backgrounds/diagnal-fabric.png');
    background-repeat: repeat;
       
    .inputbox {
            width: 15em;
            height: auto;
            margin: auto;
            margin-top: 10%;

        input {
            border: none;
            background: #f7f8f9;
            font-family: 'Lato', sans-serif;
            font-weight:700 ;

            display: block;

            height: 2.5em;

            outline: none;

            width: 15em !important;
            margin: auto;

            padding: 0.5em 1em 0.5em 1em;

        }


        input[type="text"] {
            border-radius: 7px 7px 0px 0px ;
            border-bottom: 1px solid #DDD;
        }

        input[type="password"] {
            border-radius: 0px 0px 7px 7px ;
        }


        .forgot_link {
            color: #25A55F;
            text-decoration: none;
            font-size: 11px;
            margin: 2em;
        }

         input[type="submit"] {
            color: #EEE;
            border-radius: 7px 7px 7px 7px;
            width: 17em !important;
            background-color: #2aaabb; 
            transition: all ease 0.3s;
        }
        
        input[type="submit"]:hover {
            color: #222;
            background-color: #3EC1D3; 
            transition: all ease 0.3s;
        }
        
        input[type="submit"]:active {
            color: #222;
            background-color: #2aaabb; 
            transition: all ease 0.3s;
        }

        a {
            color: #3EC1D3;
            transition: all ease 0.3s;

        }
        
        a:active {
            color: #2aaabb;
        }

        a:hover {
            color: #2aaabb;

        }

        a:visted {
            color: #3EC1D3;

        }
    }

}

#registerpage {
    background-image: url('../images/backgrounds/diagnal-fabric.png');
    background-repeat: repeat;
    
    
    .inputbox {
            width: 15em;
            height: auto;
            margin: auto;
            margin-top: 10%;

        input {
            border: none;
            background: #f7f8f9;
            font-family: 'Lato', sans-serif;
            font-weight:700 ;

            display: block;

            height: 2.5em;

            outline: none;

            width: 15em !important;
            margin: auto;

            padding: 6px 12px 6px 12px;

        }


        input:nth-child(2) {
            border-radius: 7px 7px 0px 0px;
            border-bottom: 1px solid #DDD;
        }
        
        input:nth-child(3) {
            border-radius: 0px;
            border-bottom: 1px solid #DDD;
        }
        
        input:nth-child(4) {
            border-radius: 0px;
            border-bottom: 1px solid #DDD;
        }
        
        input:nth-child(5) {
            border-radius: 0px;
            border-bottom: 1px solid #DDD;
        }
        
        input:nth-child(6) {
            border-radius: 0px 0px 7px 7px ;
        }

        


        .forgot_link {
            color: #25A55F;
            text-decoration: none;
            font-size: 11px;
            margin: 2em;
        }

          input[type="submit"] {
            color: #EEE;
            border-radius: 7px 7px 7px 7px;
            width: 17em !important;
            background-color: #2aaabb; 
            transition: all ease 0.3s;
        }
        
        input[type="submit"]:hover {
            color: #222;
            background-color: #3EC1D3; 
            transition: all ease 0.3s;
        }
        
        input[type="submit"]:active {
            color: #222;
            background-color: #2aaabb; 
            transition: all ease 0.3s;
        }

        a {
            color: #3EC1D3;
            transition: all ease 0.3s;

        }
        
        a:active {
            color: #2aaabb;
        }

        a:hover {
            color: #2aaabb;

        }

        a:visted {
            color: #3EC1D3;

        }
        
    }

}















/////////////////////////* Dashboard Style *///////////////////////////

#dashboard {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    
    .container {
        position: absolute;
        top: 0;
        
        
        .sidebar {
            
            
            height: auto;
            width: calc(100vw - 50px);
            
            
            text-align: left;

            z-index: 1;

            background: #f7f8f9;
            background-image: url('../images/backgrounds/pattern.png');
            background-repeat: repeat;

            transition: all ease-out 0.2s;
            color: #4d4d4d;
      
             .banner {
                position: relative;
                height: 20vh;
                width: 100%;
                background-image: url('../images/banner.png');
                background-repeat: none;
                background-size: cover;
                background-color: #04a0dd;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    height: 12vh;
                    width: 12vh;

                    border-radius: 50%;
                    border: 3px solid #eee;
                    box-shadow: 1px rgba(0,0,0,0.5);
                }


            }

            
            .details {
                
                 
                ul {


                    li {
                        position: relative;
                        background-color: #f7f8f9;
                        border-bottom: 1px solid #DDD;
                        padding: 2em;
                        vertical-align: middle;
                        transition: all 0.2s ease;

                        h2{
                            transition: all ease 0.5s;
                            padding-bot: 0.5em;
                            color: #03C1EB;
                            padding-bottom: 0.5em;
                        }


                        p {
                            font-family: 'open-sans',sans-serif;
                            font-size: 0.8em;

                        }
                        
                        i {
                            color: #777;
                            transition: all ease 0.3s;

                            position: absolute;
                            right: 2em;
                            top: 50%;

                        }

                        i:hover {
                                color: #04a0dd;
                        }


                    }//End of details li
                    
                    li:hover {
                        background-color: #e1f5ff;

                        
                    }

                }//End of details ul
                
            }//End of details
            
            
        }//End of sidebar
        
        
        .maincontent {
            padding-top: 1.5em;
            
            h1 {
                display: none;
                font-size: 2em;
                font-family: 'lato',sans-serif;
                font-weight: 700;
                color: #2aaabb;
                text-transform: capitalize;
                padding: 0 1em 1em 1em;
                
            }

            h3 {
                display: inline-block;
                font-size: 1em;
                font-weight: 700;
                color: #555;
                padding: 1em 1em 1em 2em;
                margin-bottom: 1em;
            }
            
            .column {
                width: 90vw;
            }
            
            span {
                padding-left: 2.5em;
                font-family: 'open-sans',sans-serif;
                font-size: 0.8em;

            }

            .myboardslinks {

                padding-bottom: 1em;
                display: flex;
                flex-direction: row;
                
                flex-wrap:wrap;
            }

            .followingboardslinks {
                display: flex;
                flex-direction: row;
                
                flex-wrap:wrap;

            }

            .boardslink {
                width: 15em;
                padding: 0 0 2em 2em;
                
                .boardoverlay {
                    position: absolute;
                    opacity: 0;
                    background: rgba(255,255,255,0.4);
                    width: 13em;
                    height: 7em;
                    border-radius: 5px;
                    transition: all ease 0.2s;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);

                        color: #555;
                        font-size: 2em;

                        cursor: pointer;

                        transition: all ease 0.3s;

                    }

                    i:hover {
                        color: #222;
                    }


                }

                .boardoverlay:hover {

                    opacity: 1;

                }
                
                
                

                img {
                    width: 13em;
                    height: 7em;
                }

                p {
                    display: none;
                }


                a {
                    font-family: 'sans-serif', sans-serif;
                    font-size: 0.8em;
                    font-weight: bold;
                    cursor: pointer;
                    color: #444;
                    transition: all ease 0.3s;


                }


                a:visited {
                    text-decoration: none;
                    color: #444;

                }

                a:hover {
                    color: #000;

                }

                p {
                    padding: 1em 0;
                }

            } //End of boardslink
                
            
        } // End of maincontent
        
        
        
    }// End of container
    
    
}// End of dashboard

/////////////////////////* scroll bar style */////////////////////////





::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #AAA; 
}







///////////////////* Side nav style */////////////////////////






.sidenav {
    height: 100vh;
    width: 50px;
    position: relative;
    background-color: #EFEFEF;
    z-index: 3;
    
    .navicons {
        height: 100%;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;

        .icons{
            text-align: center;
            height: 50%;
            display: flex;
            flex-direction: column;
            z-index: 3;
            
            
            i {
                padding: 1em 0;
                width: 100%;
                font-size: 1.5em;
                color: #BBB;
                cursor: pointer;
                transition: all ease 0.2s;
                

            }
            
            i:nth-child(1):hover {
                color: #04a0dd;
            }
            
            i:nth-child(2):hover {
                color: #EB586F;
            }
            
            i:nth-child(3):hover {
                color: #F2910A;
            }
            
            i:nth-child(4):hover {
                color: #B61AAE;
            }
            
            i:nth-child(5):hover {
                color: #00B8A9;
            } 
            
            
            i.active-btn:nth-child(1) {
                color: #04a0dd !important;
            }
            
            i.active-btn:nth-child(2) {
                color: #EB586F !important;
            }
            
            i.active-btn:nth-child(3) {
                color: #F2910A !important;
            }
            
            i.active-btn:nth-child(4) {
                color: #B61AAE !important;
            }
            
            i.active-btn:nth-child(5) {
                color: #00B8A9 !important;
            } 

        }

        #top {
            justify-content: flex-start;
            z-index: 3;
        }
        
        #bottom {
            justify-content: flex-end;
            z-index: 2;
        }
    }
        
} /* End of sidenav*/




///////////////* Slideout Universal style *////////////////

.slideout {
    
    position: fixed;
    top: 0;
    left: -20em;
    
    
    
    height: 100vh;
    width: 80vw;
    
    text-align: left;
    
    z-index: 1;
    
    
    background: #f7f8f9;
    background-image: url('../images/backgrounds/pattern.png');
    background-repeat: repeat;
    
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: all ease-out 0.2s;
    
    opacity: 0;
    
    color: #4d4d4d;
    
    
    
    ul {
        height: 100vh;
        overflow-y: auto;
        
        
        li {
            background-color: #f7f8f9;
            border-bottom: 1px solid #DDD;
            padding: 2em;
            vertical-align: middle;
            
            h2{
                transition: all ease 0.5s;
                padding-bot: 0.5em;
            }
            
            h2:hover {
                color: #2574a9;
                
            }
            
            p {
                font-family: 'open-sans',sans-serif;
                font-size: 0.8em;

            }

        }
        
        
    }
    
} /* End Slideout Universal style*/


//////////////////////* My boards slideout style *//////////////////////////

#myboards {
    
    ul {
        
        
        .subtitle {
            padding: 3em 3em 0;
            color: #c93047;
            background-color: #f7f8f9;
//            border-bottom: 1px solid #c93047;
        }
        
        
        li {
            

            h2 {
                color: #EB586F;
                padding: 0.5em 0;
            }

            a {
                transition: all ease 0.3s;
                
                color: #cc4b5e;
                font-size: 1em;
                font-family: 'raleway-regular', sans-serif;

            }
            
            a:visited {
                color: #cc4b5e;
                
            }
            
            a:hover {
                
                color: #EB586F;
            }
            
            p {
                padding-bottom: 1em;
            }
        }
    }
    
}


//////////////////////////////* Info slideout style */////////////////////////

#info {
    ul {
        
        li {
            
            padding: 2em;
            background-color: #f7f8f9;
            border-bottom: 1px solid #DDD;
            
            
            
            .boarders {
                margin: 0.5em;
                display: block;
                float: left;
                height: 100%;
                text-align: center;
                
                img {
        
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    padding-bot: 1em;
                }
                
                p {
                    font-family: 'lato', sans-serif;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: bold;
                    
                }
                
            }

            h2 {
                padding-bottom: 1em;
                color: #F2910A;
            }
            
            
            
        }
    }
    
    
}













//////////////////////* Settings slideout style *//////////////////////////


#settings {
    #accordion {
        
        li {
            
            padding-right: 2em;
            
            h2 {
                color: #00B8A9;
            }
            
            .bgoptions {
                float: left;
                

                img {
                    
                    
                    border: 3px solid #f7f8f9;
                    height: 5em;
                    width: 5em;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all ease 0.2s;

                }
                
                img.bgcurrent {
                    border: 3px solid #00B8A9;
                }
                
                #dropzonebox {
                    
                    
                    border: 3px dashed #00B8A9;
                    height: 5em;
                    width: 5em;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all ease 0.2s; 
                    
                    i {
                        padding: 0.35em 0.45em;
                        color:  #00B8A9;
                        
                        font-size: 3em;
                        
                    }

                }
                
                
            }
    
            
        }
    }
}



////////////////////////////* profile slideout style *////////////////////////////

#profile {
    
    
    .banner {
        position: relative;
        height: 20vh;
        width: 100%;
        background-image: url('../images/banner.png');
        background-repeat: none;
        background-size: cover;
        background-color: #04a0dd;
        
        .avatar-upload {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            border: 3px solid #eee;
            border-radius: 50%;
            height: 12vh;
            width: 12vh;
            
            transition: all 0.3s ease;
            z-index: 3;
            
            img {
                
                border-radius: 50%;
                height: 12vh;
                width: 12vh;
            }
        }
        
        
    }
    
    h2 {
        color: #03C1EB;
        padding-bottom: 0.5em;
    }
    
    p {
        
    }
    
    li {
        position: relative;
        transition: all 0.3s ease;
        i {
            color: #777;
            transition: all ease 0.3s;

            position: absolute;
            right: 2em;
            top: 50%;
//            transform: translateY(-50%);

        }

        i:hover {
                color: #04a0dd;
        }
    
    }
    
    

    li:hover {
        background-color: #e1f5ff;


    }
    
    
}



//////////////////////* New board slideDown style *//////////////////////////

/*modal styling*/
.modal{
    width: 12em;
    max-width: 20em;
    text-transform: uppercase;
    position: fixed;
    background-color: #f7f8f9;
    top: -15em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 1em 1.5em;
    
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);

    transition:all ease-in-out 0.3s;
    
    
    opacity: 0;
    
    
    h2 {
        
        color: #B61AAE;
        margin-bottom: 1em;
    }
    
    input {
        border: none;
        background: #f7f8f9;
        font-family: 'Lato', sans-serif;
        font-weight:700 ;

        

        height: 2.5em;
        outline: 0;

        width: 15em;
        max-width: 15em;
        margin: auto;

        padding: 0.5em 0;
        overflow: hidden;
        margin-bottom: 1em;

    }
    
    input[type='text'] {
        width: 15em !important;
        max-width: 15em;
    }
    
    textarea {
        border: none;
        background: #f7f8f9;
        font-family: 'Lato', sans-serif;
        font-weight:700 ;
        width: 15em;
        max-width: 15em;
        padding: 0.5em 0;
        display: inline;
        margin-bottom: 1em;
        height: 2.5em !important;
    }
    
    
    
    input[type='submit'] {
        
    
        color: #EEE;
        border-radius: 7px 7px 7px 7px;
        background-color: #B61AAE; 
        transition: all ease 0.3s;

        
    }

}



.fadeIn{
    top: 0;
    opacity: 1 !important;
}








////////* Main page style *///////////




.main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    
    .container {
        padding-left: 50px;
        
    }
  
    
}


.front {
    height: 100vh;
    width: 100vw;
    position: relative;
    
    div {
        width: 10em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
    }
}

#dashboard {
    z-index: 0;
    
   
    
}

#board {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    height: 100vh; 
    
    
    .container {
        padding-top: 0;
        border-right: 1px solid #DDD;
        
         #help {

            position: fixed;
            right: 0.5em;
            bottom: 0.5em;

            i {

                z-index: 5;
                font-size: 3em;

                height: 50px;
                width: 50px;
                color: #1C9970;

            }
        }
        
        .draggables {
            display: flex;
            flex-wrap: wrap;
            
            
            .note {
                z-index: 3;
                width: 20vh;
                height: auto;
                background-color: #F8D098;
                border-radius: 5px;
                box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.1);
                margin: 0.5em;
                padding: 1em;
                
                h3 {
                
                }
                
                p {
                    font-size: 0.8em;
                    font-weight: 700;
                    font-family: 'lato', sans-serif;
                    color: #333;
                    margin-top: 1em;
                    
                    display: none;
                    opacity: 0;
                    
                    transition: all 0.3s ease;
                }
            }
            
            .draggable-helper {
                
                
            }
            
        }
        
        
    }
    
    
    #trash {
        opacity: 0;
        transition: all ease 0.2s;
            
        
        .container {
            position: fixed;
            bottom: 2em;
            right: 2em;
            
            height: 3em;
            border-radius: 50%;
            
            border: 1px solid #D64541;
            
            background-color: #D64541;
            
            box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
            
            transition: all ease 0.2s;
            
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                color: #EEE;
                font-size: 1.5em;
                
                
            }
        }
        
    }
    
}


.open {
    left: 50px;
    opacity: 1;
}



.hidden {
    display: none;
}

.clear {
    clear: both;
}

.bar {
    border-bottom: 1px solid #DDD;
    margin-bottom: 1.5em;
    width: 75vw;
    
}

.hover {
    opacity: 1 !important;
}

.droppableActive {
    transform: scale(1.5);
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;  
      -khtml-user-select: none;    
      -moz-user-select: none;     
      -ms-user-select: none;     
      user-select: none;     
                               
    
}

/*for phablet - inclusive*/
@media only screen and (min-width : 26em) {
    .slideout {
        width: 45vw;
    }
    
    #modalbox {
            
        width: 20em !important;
        height: 12em !important;

    }
   
    .innertext {
        h3 {
            font-size: 3em !important;
        }
    }
       
}



/*for tablet - inclusive*/
@media only screen and (min-width : 45em) {
    .slideout {
        width: 35vw;
    }
    
    .headingtext {
            width: 70vw !important;
            
            
            h1 {
                font-size: 5em !important;
                
            }
            
            h2 {
                font-size: 2em !important; 
            }
            
    }
    
    #dashboard {
        
        .container {
            
            
            .sidebar {
                position: fixed;
                height: 100vh;
                width: 26vw !important;
                
                .details {
                    
                    ul {

                        height: 100%;
                    }
                }
            } //End of .sidebar
            
            
            
            .maincontent {
                position: absolute;
                left: calc(50px + 26vw);
                width: 100vw;
                
                h1 {
                    display: block;
                    
                }
                
                .column {
                    
                    width: calc(75vw - 50px);
                    text-align: left;
                    height: 100vh;

                    .myboardslinks {
                        
                        
                        justify-content:flex-start;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

                    .followingboardslinks {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content:flex-start;

                    }
                    
                    

                    .boardslink {
                        width: 12em;
                        
                        .boardoverlay {
                            width: 12em !important;
                            height: 8em !important;
                        }
                        

                        img {
                            border-radius: 5px;
                            display: block;
                            width: 12em;
                            height: 8em;
                            margin-bottom: 0.5em;
                        }

                        p {
                            display: block;
                        }

                    }
                    
                }
                
                 
            } //End of .maincontent
            
           
            
        } //End of .container
        
    }//End of #dashboard
    
    #modalbox {
            
        width: 20em !important;
        height: 12em !important;

    }
   
    .innertext {
        h3 {
            font-size: 3em !important;
        }
    }
    
    
    #board {
        
        .draggables {
            
            .note {
                p {
                    display: block !important;
                    opacity: 1 !important;
                }
                
            }
        }
    }
    
    #footerText {
        font-size: 2.5em !important;
        
    }
    
    
    .social {
        
        li {
            padding: 0 1em !important;
            width: 4em !important;
            
            i {
                font-size: 2.5em !important;
            }
        }
        
    }
    
    .copyright {
        font-size: 0.7em !important;
    }
    
}


/*for destop - inclusive*/
@media only screen and (min-width : 65em) {
    .slideout {
        
        width: 20vw;
        
    }
    
    #dashboard {
        
        .container {
            
            
            .sidebar {
                width: 20vw !important;
                
                .details {
                    
                    ul {

                        height: 100%;
                    }
                }
            } //End of .sidebar
            
            
            
            .maincontent {
                position: absolute;
                left: calc(50px + 21vw);
                width: 60vw;
                
            
            } //End of .maincontent
                
            
        } //End of .container
        
    }//End of #dashboard
    
    #modalbox {
            
        width: 20em !important;
        height: 12em !important;

    }
   
    .innertext {
        h3 {
            font-size: 3em !important;
        }
    }
    
    #board { 
        
        .draggables {
            
            .note {
                
                width: 20vh;
                height: auto;
                
            }
        }
    }
    
}

