// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



 
/*   Fonts   */

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*   Reset   */

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

//////////////* All device and Mobile Breakpoint *////////////////

h1, h2 {
    font-family: 'sans-serif', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    
}

h3, h4 {
    font-family: 'sans-serif', sans-serif;
    font-size: 0.7em;
}

p {
    font-family: 'open-sans', sans-serif;
    font-size: 0.9em;
}

body {

    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    z-index: 3;
}

/////////////////////////* Dashboard Style *///////////////////////////

.container {
    
    padding: 2em;
    
}

.boardslink {

    width: 20em;

    a {
        font-family: 'sans-serif', sans-serif;
        font-size: 0.75em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        color: #444;
        transition: all ease 0.3s;


    }


    a:visited {
        text-decoration: none;
        color: #444;

    }

    a:hover {
        color: #000;

    }

    p {
        padding: 1em 0;
    }

}


/////////////////////////* scroll bar style */////////////////////////





::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #AAA; 
}







///////////////////* Side nav style */////////////////////////






.sidenav {
    height: 100vh;
    width: 50px;
    position: relative;
    background-color: #EFEFEF;
    z-index: 3;
    
    .navicons {
        height: 100%;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;

        .icons{
            text-align: center;
            height: 50%;
            display: flex;
            flex-direction: column;
            z-index: 3;
            
            
            i {
                padding: 1em 0;
                width: 100%;
                font-size: 1.5em;
                color: #CCC;
                cursor: pointer;
                transition: all ease 0.2s;
                

            }
            
            i:nth-child(1):hover {
                color: #04a0dd;
            }
            
            i:nth-child(2):hover {
                color: #EB586F;
            }
            
            i:nth-child(3):hover {
                color: #F2910A;
            }
            
            i:nth-child(4):hover {
                color: #B61AAE;
            }
            
            i:nth-child(5):hover {
                color: #00B8A9;
            } 
            
            
            i.active-btn:nth-child(1) {
                color: #04a0dd !important;
            }
            
            i.active-btn:nth-child(2) {
                color: #EB586F !important;
            }
            
            i.active-btn:nth-child(3) {
                color: #F2910A !important;
            }
            
            i.active-btn:nth-child(4) {
                color: #B61AAE !important;
            }
            
            i.active-btn:nth-child(5) {
                color: #00B8A9 !important;
            } 

        }

        #top {
            justify-content: flex-start;
            z-index: 3;
        }
        
        #bottom {
            justify-content: flex-end;
            z-index: 2;
        }
    }
        
} /* End of sidenav*/




///////////////* Slideout Universal style *////////////////

.slideout {
    
    position: fixed;
    top: 0;
    left: -17em;
    
    
    height: 100vh;
    width: 80vw;
    
    text-align: left;
    
    z-index: 1;
    
    
    background: #f7f8f9;
    background-image: url('../images/backgrounds/pattern.png');
    background-repeat: repeat;
    
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: all ease-out 0.2s;
    
    opacity: 0;
    
    color: #4d4d4d;
    
    
    
    ul {
        height: 100vh;
        overflow-y: auto;
        
        li {
            background-color: #f7f8f9;
            border-bottom: 1px solid #DDD;
            padding: 2em;
            vertical-align: middle;
            
            h2{
                transition: all ease 0.5s;
                padding-bot: 0.5em;
            }
            
            h2:hover {
                color: #2574a9;
                
            }
            
            p {
                font-family: 'open-sans',sans-serif;
                font-size: 0.8em;

            }

        }
        
        
    }
    
} /* End Slideout Universal style*/


/* My boards slideout style */

#myboards {
    
    ul {
        
        li {
            

            h2 {
                color: #EB586F;
                padding: 0.5em 0;
            }

            a {
                transition: all ease 0.3s;
                
                color: #cc4b5e;
                font-size: 1em;
                font-family: 'raleway-regular', sans-serif;

            }
            
            a:visited {
                color: #cc4b5e;
                
            }
            
            a:hover {
                
                color: #EB586F;
            }
            
            p {
                padding-bottom: 1em;
            }
        }
    }
    
}


/* Info slideout style */

#info {
    ul {
        
        li {
            
            padding: 2em;
            background-color: #f7f8f9;
            border-bottom: 1px solid #DDD;
            
            
            
            .boarders {
                margin: 0.5em;
                display: block;
                float: left;
                height: 100%;
                text-align: center;
                
                img {
        
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    padding-bot: 1em;
                }
                
                p {
                    font-family: 'lato', sans-serif;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: bold;
                    
                }
                
            }

            h2 {
                padding-bottom: 1em;
                color: #F2910A;
            }
            
            
            
        }
    }
    
    
}

#settings {
    #accordion {
        
        li {
            
            padding-right: 0;
            
            h2 {
                color: #00B8A9;
            }
            
            .bgoptions {
                float: left;
                

                img {
                    
                    
                    border: 3px solid #f7f8f9;
                    height: 5em;
                    width: 5em;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all ease 0.2s;

                }
                
                img.bgcurrent {
                    border: 3px solid #00B8A9;
                }
            }
    
            
        }
    }
}



/* profile slideout style */

#profile {
    
    
    .banner {
        position: relative;
        height: 20vh;
        width: 100%;
        
        background-color: #04a0dd;
        
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            height: 12vh;
            width: 12vh;
            
            border-radius: 50%;
            border: 3px solid #eee;
            box-shadow: 1px rgba(0,0,0,0.5);
        }
        
        
    }
    
    h2 {
        color: #03C1EB;
        padding-bottom: 0.5em;
    }
    
    p {
        
    }
    
    li {
        position: relative;
        i {
            color: #777;
            transition: all ease 0.3s;

            position: absolute;
            right: 2em;
            top: 50%;
//            transform: translateY(-50%);

        }

        i:hover {
                color: #04a0dd;
        }
    
    }
    
    
    
}



////////* Main page style *///////////




/* Dashboard Logo*/

.logobox {
    
    p {

        color: #111;
        font-size: 5em;
    }
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    
    .container {
        padding-left: 50px;
        
    }
  
    
}


.front {
    height: 100vh;
    width: 100vw;
    position: relative;
    
    div {
        width: 10em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
    }
}

#dashboard {
    z-index: 0;
    
   
    
}

#board {
    background-image: url('../images/backgrounds/diagnal-fabric.png');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    height: 100vh; 
    
    
    .container {
        padding-top: 0;
        
         #help {

            position: fixed;
            right: 0.5em;
            bottom: 0.5em;

            i {

                z-index: 5;
                font-size: 3em;

                height: 50px;
                width: 50px;
                color: #1C9970;

            }
        }
        
        .draggables {
            display: flex;
            flex-wrap: wrap;
            
            
            .note {
                z-index: 3;
                width: 20vh;
                min-height: 20vh;
                background-color: #F8D098;
                border-radius: 5px;
                box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.1);
                margin: 0.5em;
                padding: 1em;
            }
            
        }
        
        
    }
    
}






.open {
    left: 50px;
    opacity: 1;
}



.hidden {
    display: none;
}

.clear {
    clear: both;
}

.button {
    
    
}


/*for phablet - inclusive*/
@media only screen and (min-width : 26em) {
    .slideout {
        width: 40vw;
    }
    
}


/*for tablet - inclusive*/
@media only screen and (min-width : 45em) {
    .slideout {
        width: 35vw;
    }
    #board {
        
        .draggables {
            
            .note {
                
                
            }
        }
    }
}


/*for destop - inclusive*/
@media only screen and (min-width : 65em) {
    .slideout {
        
        width: 20vw;
        
    }
    
    #board { 
        
        .draggables {
            
            .note {
                
                width: 20vh;
                min-height: 20vh;
                
            }
        }
    }
}

